.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

html, body {
  background-color: #CECCCD;
  margin: 10px;
  font-family: Arial;
}

.container > div:nth-child(1n) {
  background-color: #9FB0CC;  
}

.container > div:nth-child(3n) {
  background-color: #5D6CA3;
}

.container > div:nth-child(2n) {
      background-color: #A28CB2;
}

.container > div:nth-child(4n) {
      background-color: #664780;
}

img {
    border-radius: 50%;
    border:2px solid white;
}

ul{
  list-style-type:none;
  margin:0px;
  padding:0px;
  display:flex;

}
.footer li a:hover{
  background-color: #664780;
}

.footer li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    text-decoration:none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align:center;
    font-size: 30px;
    margin: 10px;
    color: #006400;
    outline: 0; 
}